.mt-5 {
    margin-top: 3rem;
  }
  .mb-3 {
    margin-bottom: 1rem;
  }
  .mb-4 {
    margin-bottom: 1.5rem;
  }
  .my-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .btn-primary {
    background-color: #C70039;
    border-color: #C70039;
  }
  