.dashboard-container {
    display: flex;
    flex-direction: row;
  }
  
  .sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 20px;
    padding: 20px;
    background: #fff;
  }
  
  .dashboard-header {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
  }
  
  .dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 16px;
    margin-top: 20px;
  }
  
  .panel {
    border: 1px solid #eaeaea;
    padding: 16px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #eaeaea;
    transition: transform 0.2s ease-in-out;
  }
  
  .panel:hover {
    transform: scale(1.05);
  }
  
  .add-button,
  .remove-button {
    padding: 8px 16px;
    border: none;
    background-color: #C70039;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-button:hover,
  .remove-button:hover {
    background-color: #960031;
  }
  