.header-container {
    background-color: linear-gradient(#1A1A1A,#1F1F1F);
    background: linear-gradient(#1A1A1A,#1F1F1F);
    border-bottom: 1px solid #dee2e6;
    padding: 10px 0;
  }
  
  .header-logo {
    max-width: 150px;
    height: auto;
    object-fit: contain;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar {
    background: linear-gradient(#1A1A1A,#1F1F1F);
  }