.avatar {
    position: relative;
    text-align: center;
  }
  
  .avatar-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .avatar-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  
  .edit-button,
  .avatar-edit button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #C70039;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit-button:hover,
  .avatar-edit button:hover {
    background-color: #960031;
  }
  